.carouselSearch {
  position: relative;
  margin-bottom: 70px;
  .contentWrapper  {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .carouselTitle {
      font-size: 24px;
      font-weight: normal;
    }
  }
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 16px !important;
  color: white;
  background-color: gray;
  padding: 5px 8px;
  border-radius: 50%;
}